<p>Hello <%= @resource.email %>!</p>
<p>Your account has been unlocked successfully. Please sign in to continue.</p>
<p><%= link_to ActionMailer::Base.default_url_options[:host], ActionMailer::Base.default_url_options[:host] =%> </p>
